<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <script type="text/javascript" src="script/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="" >

            <p>
                <label >Enter year:-</label><br>
                <label type="number" ng-model="year"></label></p>
           
                <p>
                        <label for=>Enter loanamount:-</label><br>
                        <label type="number"ng-model="year"></label></p>
                    
           <p>loanamount amount per year:{{amount/year}}</p>

        </div>


    </body>
</html>