<!DOCTYPE html>
<html>
    <head>
        <title>Click</title>
        <script type="text/javascript" src="script/angular.min.js"></script>
        <script>
        
        var app=angular.module('myApp',[]);
        app.controller('formCtrl',function($scope){
            $scope.master={fistName:"rohit, lastName:khanna"};
            $scope.reset=function(){
                $scope.user=angular.copy($scope.master);
            };
            $scope.reset();
        });
        </script>
       
    </head>
     <body>
        <div ng-app="myApp" ng-controller="formCtrl">
          <form nonvalidate>
            firstName:<br>
            <input type="text" ng-model="user.firstName"><br>
            lastName:<br>
            <input type="text" ng-model="user.lastName">
            <br><br>
            <button ng-click="reset()">Reset</button>
            
             </form>
            <p>form-Data={{user}}</p>
            <p>original-Data={{master}}</p>
            </div>
                   
             </body>
        
         </html>



               
                
     