<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <script type="text/javascript" src="script/angular.min.js"></script>
        <script>
        var app=angular.module('myapp',[]);
        app.controller('personctrl',function($scope){
            $scope.firstName="mayur";
            $scope.lastName="shinde";
            $scope.fullName=function(){
                return $scope.firstName+" "+ $scope.lastName;
            };
        });
        app.directive('myDirective',function(){
            return{
                template:"this is angularjs it is very popular iT"
            }
        }  );
        
        </script>
    </head>
    <body>
        <div ng-app="myapp" ng-controller="personctrl" > 
            <h1 my-directive></h1>
            first Name:<input type="text" ng-model="firstName"><br>
            <br>last Name:<input type="text" ng-model="lastName"><br>
            <br>full Name:{{fullName()}}

        </div>


    </body>
</html>